# Code to create frames by 16-day average for EACH month

In [1]:
from mpl_toolkits.basemap import Basemap
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

# for GIF creation
import PIL as plw 

# Animation and Graphics libraries
import plotly.express as px
import plotly
import seaborn as sns; sns.set()

### The code below will generate frames of 16 day cycle for each months:
* For January: 1-16 and 17-31, same goes for every other months
    * the frames will be caputred within the given time frame
    
* Below code for basemap will generate the FRAMES

In [7]:
# create a function that creates a BASEMAP
def map_by_month(data, year, month, file_num, x="Longitude",y= "Latitude", lon_min= 60, lon_max= 100, lat_min= 0, lat_max= 50, size_point= 5, frontier= False):
    
    # Figure setting    
    plt.figure(figsize= (40, 22), edgecolor='b')
    
    #PROJECTION 'cyl' -> Equilateral Diagram
    m= Basemap(projection='cyl', resolution='c',
               llcrnrlat= lat_min, urcrnrlat=lat_max, llcrnrlon= lon_min, urcrnrlon= lon_max)


    m.scatter( data['Longitude'], data['Latitude'], c= data['Xco2'], cmap= plt.cm.turbo, s=30, #norm= normal,
             marker='d')
    
    # Customizing the COLORBAR
    cbar= plt.colorbar(orientation= "horizontal",
                      format= "%.0f",
                      extend="both",
                      shrink= 0.45,
                      aspect= 10,
                      pad= 0.04)
    
    cbar.set_label(label="XCO2 (parts per million)", size= 40)
    cbar.ax.tick_params(labelsize= 35)

    # ADJUSTT the CBAR by year
    cbar.set_ticks(np.linspace(390, 420, 5))
    plt.clim(390, 420)
    
    # BORDER Lining
    m.drawmapboundary(fill_color='black')
    
    # changing BACKGROUND color
    m.fillcontinents(color='grey', alpha= 0.25)
    plt.title('Orbiting Carbon Observatory- 2\nAtmospheric Carbon Dioxide Concentration\n'+str(year)+'-'+str(month), fontsize =50)
    
    # Saving the Graph into specified Directory
    
#     # Change the PATH for different years
    plt.savefig("C:/Users/sagarl/JPL_Project/year_round/jupyter_codes/Frames_basemap_code_script/FRAMES/2019/"+str(file_num)+"_"+ str(month)+"_"+".jpeg",
                dpi= 200)

# code: generating 16 day cycle frames
* 1-16 days and 17-31 for same month

# dataframe for OCo2

In [12]:
df_oco2= pd.read_csv('../Frames_basemap_code_script/file_generate_frames/india_oco2.csv')

In [28]:
df_oco2.head(2)

,Xco2,Latitude,Longitude,quality_flag,DateTime,Year,Month,Day,Date
0,408.07703,15.015481,78.387436,0,2019-01-02 08:13:34.010,2019,1,2,2019-01-02 08:13:34.010
1,407.45468,15.007488,78.393330,0,2019-01-02 08:13:34.020,2019,1,2,2019-01-02 08:13:34.020

# generate FRAMES:
TESTING

In [16]:
test= xco2_16_avg_day(df_oco2)

In [20]:
test.first_16_day_cycle

### NOTE: location to save the frames to be changed in the BASMEAP code above

In [65]:
# total files
#file_num= 0

def first_16_day_cycle(data, year): 

    # get year
    
    # first 16 days
    first_half= np.arange(1, 17)
    #second 16 days
    second_half= np.arange(17, 32)
    
    # months
    month= ['January', 'February','March', 'April','May','June','July','August','September','October','November','December']

    # total files
    file_num = 0
    
    # repition of months
    rep =0
  
    months_count= 0
    for j in range(1, 13):


        # for different months 1-12
        vol_1= data[(data['Month']== j)]

        # second loop to get three frames from same month; 
        # EG: first frame-> (1-16)16 days cycle, second frame -> (17-31) 16 days cycle, 
        # third frame -> total days cycel of a single month 
                    
        # for first 16 days
        first_vol= vol_1 [ vol_1['Day'].isin(first_half)]
        map_by_month(first_vol, str(year),month[rep], file_num)

        
        file_num +=1
        # Second Frame: 16 day cycle (17-31)   
        second_vol= vol_1 [ vol_1['Day'].isin(second_half)]
        map_by_month( second_vol, str(year),month[rep], file_num )                 

        
        file_num +=1
        # Third FRAME: full frame of the entire month
        map_by_month(vol_1, str(year), month[rep], file_num)


#        file num increments
        file_num +=1

        # next months
        rep +=1

# TESTING for one year

In [67]:
# first_16_day_cycle(df_oco2, 2019)