### Objective:
- Read the entire files and generate monthly datasets 
- FROM YEAR 2014-2022

In [1]:
import numpy as np
import pandas as pd
import dask.dataframe as dd
import os

### READ all the csv files using DASK library

In [2]:
oco2_comb= dd.read_csv('../../../Cluster_machine/OCO2/B_11_new_version/2022_csv/*.txt')

In [3]:
oco2_comb

Dask DataFrame Structure:
                    Xco2 Latitude Longitude quality_flag DateTime   Year  Month    Day
npartitions=359
                 float64  float64   float64        int64   object  int64  int64  int64
                     ...      ...       ...          ...      ...    ...    ...    ...
...                  ...      ...       ...          ...      ...    ...    ...    ...
                     ...      ...       ...          ...      ...    ...    ...    ...
                     ...      ...       ...          ...      ...    ...    ...    ...
Dask Name: read-csv, 359 tasks

In [4]:
%%time
df_oco2= oco2_comb.compute()

CPU times: total: 39.5 s
Wall time: 17.2 s

### Save as CSV files

In [5]:
df_oco2.head(3)

,Xco2,Latitude,Longitude,quality_flag,DateTime,Year,Month,Day
0,414.74760,-4.600250,-157.15690,0,2022-01-01 00:00:09.310,2022,1,1
1,415.46606,-4.581612,-157.16101,0,2022-01-01 00:00:09.710,2022,1,1
2,415.90600,-4.592261,-157.15874,0,2022-01-01 00:00:09.720,2022,1,1

In [6]:
df_oco2["Year"].unique()

array([2022], dtype=int64)

In [7]:
df_2022= df_oco2[df_oco2["Year"] == 2022]

### SAVE the org. files in a CSV
- NOTE: Due computation constraint, excel/csv file not generate entire data
- We can do furthre data-preprocessing

In [8]:
%%time
df_2022.to_csv("../DATA_2016_2020_csv__and_OCO2_overPASS/GLOBAL_oco2_B11_version/2022/oco2_B11_2022.csv", index= False)

In [9]:
# class monthly:
    
#     def __init__(self, data):
#         self.data= data
    
#     def get_details(self):
#         print(self.data.describe())
    
#     def get_length(self):
#         print(len(self.data))

## Function: Generate Monthly files 
- initially files are daily generated which are combined and generated for monthly basis

In [10]:
def create_monthly(path):
    df= pd.read_csv(path)
    
    # GET MONTHLY unique
    months= sorted(df["Month"].unique())
    year= str(df["Year"].unique()[0])
    
    ## make new directory
    new_dir= os.mkdir(year)            
    df_new=pd.DataFrame()
    
    # loop by month
    for j in months:
        df_new= df[df["Month"] == j]
        
        df_new.to_csv(str(year)+'/'+year+'_'+str(j)+'.csv', index= False)

### Loacte to path

In [11]:
# path_a= '../CALI_2016_2020_csv_combined/GLOBAL_oco2/'
path_a= '../DATA_2016_2020_csv__and_OCO2_overPASS/GLOBAL_oco2_B11_version/2022'

In [12]:
# PATH to files
file_names= []

for file in os.listdir(path_a):
    # Check whether file is in text format or not
    if file.endswith(".csv"):
        file_path = f"{path_a}\{file}"
      
        # Store the path location of each individual files
        file_names.append(file_path)
        
        
# check first 10 files path
file_names[:3]

['../DATA_2016_2020_csv__and_OCO2_overPASS/GLOBAL_oco2_B11_version/2022\\oco2_B11_2022.csv']

In [13]:
## TOTAL 
len(file_names)

1

In [14]:
for j in range(0, len(file_names)):
    create_monthly(file_names[j])