In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib import animation
from mpl_toolkits.basemap import Basemap
from mpl_toolkits import basemap

# LIST the path to files
import xarray
import netCDF4 as nc4
import netCDF4
import glob
import pandas as pd
from datetime import datetime

from keplergl import KeplerGl as keplr

import json
from IPython.display import display, HTML, Image

### Read netcdf files

In [2]:
df_oco2= netCDF4.Dataset('oco2_data/oco2_LtCO2_190101_B10206Ar_200729172616s.nc4')

In [3]:
# DATE time function
def conv_date(d):
    return datetime.strptime(str(d), '%Y%m%d%H%M%S%f')

In [4]:
df_xco2= pd.DataFrame(columns=[ "Latitude", "Longitude", "DateTime","xco2", "xco2_quality_flag"])
    
df_xco2["xco2"]= df_oco2["xco2"][:]
df_xco2["Latitude"]= df_oco2["latitude"][:]
df_xco2["Longitude"]=df_oco2["longitude"][:]
df_xco2["DateTime"]= df_oco2["sounding_id"][:]
df_xco2["xco2_quality_flag"]= df_oco2["xco2_quality_flag"][:]

# DATE TIME columns:
#df_xco2_new['DateTime']= pd.to_datetime(df_xco2_new['DateTime'])
#df_xco2_new['DateTime']= df_xco2_new['DateTime'].astype(str)

df_xco2['DateTime']= df_xco2['DateTime'].apply(conv_date)

df_xco2['Year']= df_xco2['DateTime'].dt.year
df_xco2['Month']= df_xco2['DateTime'].dt.month
df_xco2['Day']= df_xco2['DateTime'].dt.day

In [5]:
df_xco2_new= df_xco2[df_xco2['xco2_quality_flag'] == 0]

In [6]:
df_xco2_new.head(3)

,Latitude,Longitude,DateTime,xco2,xco2_quality_flag,Year,Month,Day
218,-72.345078,-145.745651,2019-01-01 00:29:16.080,404.126801,0,2019,1,1
219,-72.327957,-145.764679,2019-01-01 00:29:16.380,403.008423,0,2019,1,1
240,-72.207100,-145.900177,2019-01-01 00:29:18.780,403.007477,0,2019,1,1

In [7]:
df_xco2_new['index']= np.arange(0, len(df_xco2_new))
df_xco2_new

C:\Users\sagarl\AppData\Local\Temp\1/ipykernel_13220/641023807.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_xco2_new['index']= np.arange(0, len(df_xco2_new))

,Latitude,Longitude,DateTime,xco2,xco2_quality_flag,Year,Month,Day,index
218,-72.345078,-145.745651,2019-01-01 00:29:16.080,404.126801,0,2019,1,1,0
219,-72.327957,-145.764679,2019-01-01 00:29:16.380,403.008423,0,2019,1,1,1
240,-72.207100,-145.900177,2019-01-01 00:29:18.780,403.007477,0,2019,1,1,2
243,-72.189888,-145.919418,2019-01-01 00:29:19.080,402.692291,0,2019,1,1,3
245,-72.172684,-145.938614,2019-01-01 00:29:19.380,404.782257,0,2019,1,1,4
...,...,...,...,...,...,...,...,...,...
190409,12.988093,-159.916687,2019-01-01 23:59:27.040,408.774689,0,2019,1,1,93037
190410,12.977462,-159.910477,2019-01-01 23:59:27.050,409.011871,0,2019,1,1,93038
190411,12.966721,-159.904343,2019-01-01 23:59:27.060,408.652954,0,2019,1,1,93039
190413,12.944997,-159.892349,2019-01-01 23:59:27.080,407.974915,0,2019,1,1,93040
190415,12.995839,-159.915115,2019-01-01 23:59:27.350,408.166779,0,2019,1,1,93041

In [8]:
### Reading the config files

In [9]:
# my_saved_config= map_1.config
# j = json.dumps(my_saved_config)

# with open('my_config_kepler.json', 'w') as f:
#     f.write(j)
#     f.close()

### READ JSON: config files

In [10]:
my_config= json.load(open('my_config_kepler.json'))

In [19]:
map_2= keplr(data={"OCO2" : df_xco2})
map_2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(data={'OCO2':          Latitude   Longitude                DateTime        xco2  \
0      -84.977638 …

In [28]:
# my_config

In [29]:
map_2= keplr(data={"OCO2" : df_xco2}, config= my_config)
map_2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': '13w72kc', 'type': …

## California region only: 2014-2017

In [16]:
df_2014_2017= pd.read_csv('../../../../year_round/jupyter_codes/week_13/cali_oco2_2014_2017.csv')
df_2014_2017.head(3)

   Index       Xco2   Latitude  Longitude  Year  Month  Day       Date
0      1  394.46030  32.150340 -124.40043  2014      9   10  2014/9/10
1      2  394.54144  32.297110 -124.44687  2014      9   10  2014/9/10
2      3  395.35477  32.352222 -124.46445  2014      9   10  2014/9/10

In [24]:
# # date time
df_2014_2017['Date']= pd.to_datetime(df_2014_2017['Date'])

In [25]:
map_cali= keplr(data={"OCO2_a" : df_2014_2017}, config= my_config)
map_cali

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': '13w72kc', 'type': …